spring:
  application:
    name: notification-service

  # mail:
  #   host: smtp.gmail.com
  #   port: 587
  #   username: your_email@gmail.com
  #   password: your_app_password
  #   properties:
  #     mail:
  #       smtp:
  #         auth: true
  #         starttls:
  #           enable: true
  #           required: true
  #         connectiontimeout: 10000
  #         timeout: 10000
  #         writetimeout: 10000

  datasource:
    # Added allowPublicKeyRetrieval to permit the MySQL driver to fetch the RSA public key
    # when using caching_sha2_password auth (MySQL 8+). If you prefer, you can change the
    # user authentication to mysql_native_password instead on the server side.
    url: jdbc:mysql://localhost:3300/notificationdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: user7
    password: pass123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 9009

#Eureka
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/  