server:
  port: 8080

spring:
  application:
    name: api-gateway




  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # PRODUCT SERVICE
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/product/**

        # PAYMENT SERVICE
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/payment/**

        # ORDER SERVICE
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/order/**

        # USER SERVICE
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**

        # AUTH SERVICE (public paths allowed)
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**

        # ADMIN SERVICE
        - id: admin-service
          uri: lb://admin-service
          predicates:
            - Path=/admin/**

        # CART SERVICE
        - id: cart-service
          uri: lb://cart-service
          predicates:
            - Path=/cart/**

        # INVENTORY SERVICE
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/inventory/**

        # NOTIFICATION SERVICE
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notification/**

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8081/realms/mobileskins/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
