spring:
  application:
    name: eureka-service
  config:
    import: "optional:configserver:http://localhost:9001"

eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
server:
  port: 8761        
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics  