version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "keycloak"]
      interval: 5s
      timeout: 5s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    command: start-dev
    restart: always
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8081:8080"
    networks:
      - backend
    depends_on:
      postgres:
        condition: service_healthy 
  user-mysql:
    image: mysql:latest
    container_name: user_mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: userdb
      MYSQL_USER: user1
      MYSQL_PASSWORD: pass123
    ports:
      - "3306:3306"
    volumes:
      - user_mysql_data:/var/lib/mysql

  product-mysql:
    image: mysql:latest
    container_name: product_mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: productdb
      MYSQL_USER: user2
      MYSQL_PASSWORD: pass123
    ports:
      - "3308:3306"
    volumes:
      - product_mysql_data:/var/lib/mysql

  cart-mysql:
    image: mysql:latest
    container_name: cart_mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: cartdb
      MYSQL_USER: user3
      MYSQL_PASSWORD: pass123
    ports:
      - "3309:3306"
    volumes:
      - cart_mysql_data:/var/lib/mysql
   
  order-mysql:
    image: mysql:latest
    container_name: order_mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: orderdb
      MYSQL_USER: user4
      MYSQL_PASSWORD: pass123
    ports:
      - "3303:3306"
    volumes:
      - order_mysql_data:/var/lib/mysql   
  inventory-mysql:
    image: mysql:latest
    container_name: inventory_mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: inventorydb
      MYSQL_USER: user5
      MYSQL_PASSWORD: pass123
    ports:
      - "3302:3306"
    volumes:
      - inventory_mysql_data:/var/lib/mysql
  payment-mysql:
    image: mysql:latest
    container_name: payment_mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: paymentdb
      MYSQL_USER: user6
      MYSQL_PASSWORD: pass123
    ports:
      - "3301:3306"
    volumes:
      - payment_mysql_data:/var/lib/mysql
  notification-mysql:
    image: mysql:latest
    container_name: notification_mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: notificationdb
      MYSQL_USER: user7
      MYSQL_PASSWORD: pass123
    ports:
      - "3300:3306"
    volumes:
      - notification_mysql_data:/var/lib/mysql                    


networks:
  backend:
    driver: bridge 
      
volumes:
  user_mysql_data:
  product_mysql_data:
  cart_mysql_data:
  order_mysql_data:
  inventory_mysql_data:
  payment_mysql_data:
  notification_mysql_data:
