server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:

          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins: "*"
                allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
                allowed-headers: "*"
                allow-credentials: true

          default-filters:
            - name: GlobalLoggingFilter

          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=0

            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=0

            - id: product-service-read
              uri: lb://product-service
              predicates:
                - Path=/api/products/**
                - Method=GET
              filters:
                - StripPrefix=0

            - id: product-service-write
              uri: lb://product-service
              predicates:
                - Path=/api/products/**
              filters:
                - StripPrefix=0

            - id: cart-service
              uri: lb://cart-service
              predicates:
                - Path=/api/carts/**
              filters:
                - StripPrefix=0

            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/orders/**
              filters:
                - StripPrefix=0

            - id: payment-service
              uri: lb://payment-service
              predicates:
                - Path=/api/payments/**
              filters:
                - StripPrefix=0

            - id: inventory-service
              uri: lb://inventory-service
              predicates:
                - Path=/api/inventory/**
              filters:
                - StripPrefix=0

            - id: notification-service
              uri: lb://notification-service
              predicates:
                - Path=/api/notifications/**
              filters:
                - StripPrefix=0

            - id: admin-service
              uri: lb://admin-service
              predicates:
                - Path=/api/admin/**
              filters:
                - StripPrefix=0

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/master
          jwk-set-uri: http://localhost:8081/realms/master/protocol/openid-connect/certs

  # Springdoc OpenAPI UI aggregated URLs (served by the gateway)
  springdoc:
    swagger-ui:
      urls:
        - name: Auth Service
          url: /api/auth/v3/api-docs
        - name: User Service
          url: /api/users/v3/api-docs
        - name: Product Service
          url: /api/products/v3/api-docs
        - name: Cart Service
          url: /api/carts/v3/api-docs
        - name: Order Service
          url: /api/orders/v3/api-docs
        - name: Payment Service
          url: /api/payments/v3/api-docs
        - name: Inventory Service
          url: /api/inventory/v3/api-docs
        - name: Notification Service
          url: /api/notifications/v3/api-docs
        - name: Admin Service
          url: /api/admin/v3/api-docs
      path: /swagger-ui.html

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: false
    fetch-registry: true
    enabled: true

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
